<div bsModal #infoModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" (keyup.Esc)="closePopupModal()" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="closePopupModal()" aria-label="Close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
                <div class="row">
                    <div class="col-md-12">
                       <app-logoheader></app-logoheader>
                        <img src="{{apiEndPoint}}/{{enterpriseIconFilePath}}" onError="this.onerror=null;this.src='assets/img/logo.png';"
                            height="30" class="pull-right">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h5 class="popupsection-title">{{pagename | translate}}</h5>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label>{{'COMMON_FIELDS.ENTERPRISE' | translate}}</label>
                        <input type="text" class="form-control input-sm" id="enterpriseID" name="enterprisename" value="{{singleLoginHistoryDetails?.enterprise?.enterpriseName}}"
                            disabled>
                    </div>
                    <div class="col-md-4 form-group">
                        <label>{{'COMMON_FIELDS.USER_NAME' | translate}}</label>
                        <input type="text" class="form-control input-sm" id="userId" name="userId" disabled value="{{singleLoginHistoryDetails?.userAccount}}">
                    </div>
                    <div class="col-md-4 form-group">
                            <label>{{'LOGIN_HISTORY.DEVICE_TYPE' | translate}}</label>
                            <input type="text" class="form-control input-sm" id="deviceType" name="deviceType" value="{{singleLoginHistoryDetails?.deviceType}}"
                                disabled>
                        </div>
                        <div class="col-md-4 form-group">
                                <label>{{'LOGIN_HISTORY.DEVICE_ADDRESS' | translate}}</label>
                                <input type="text" class="form-control input-sm" id="deviceAddress" name="deviceAddress" value="{{singleLoginHistoryDetails?.deviceAddress}}"
                                    disabled>
                            </div>
                    <div class="col-md-4 form-group">
                        <label>{{'LOGIN_HISTORY.OS' | translate}}</label>
                        <input type="text" class="form-control input-sm" id="OS" name="OS" value="{{singleLoginHistoryDetails?.OS}}" disabled>
                    </div>
                    <div class="col-md-4 form-group">
                        <label>{{'LOGIN_HISTORY.IP_ADDRESS' | translate}}</label>
                        <input type="text" class="form-control input-sm" id="ipAddress" name="ipAddress" value="{{singleLoginHistoryDetails?.ipAddress}}"
                            disabled>
                    </div>
                    
                    <div class="col-md-4 form-group">
                        <label>{{'LOGIN_HISTORY.BROWSER_NAME' | translate}}</label>
                        <input type="text" class="form-control input-sm" id="browserName" name="browserName" value="{{singleLoginHistoryDetails?.browserName}}"
                            disabled>
                    </div>
                    <div class="col-md-4 form-group">
                        <label>{{'LOGIN_HISTORY.BROWSER_VERSION' | translate}}</label>
                        <input type="text" class="form-control input-sm" id="browserVersion" name="browserVersion" value="{{singleLoginHistoryDetails?.browserVersion}}"
                            disabled>
                    </div>
                    <div class="col-md-4 form-group">
                        <label>{{'LOGIN_HISTORY.LOGINTIME' | translate}}</label>
                        <input type="text" class="form-control input-sm" id="loginTime" name="loginTime" value="{{loginTime}}" disabled>
                    </div>
                    <div class="col-md-4 form-group">
                        <label>{{'LOGIN_HISTORY.LOGOUTTIME' | translate}}</label>
                        <input type="text" class="form-control input-sm" id="logoutTime" name="logoutTime" value="{{logoutTime}}" disabled>
                    </div>
                    <div class="col-md-4 form-group">
                        <label>{{'COMMON_FIELDS.NOTES' | translate}}</label>
                        <input type="text" class="form-control input-sm" id="notes" name="notes" value="{{singleLoginHistoryDetails?.notes}}" disabled>
                    </div>
                </div>
                <p-accordion>
                    <p-accordionTab header="{{'COMMON_RECORD_HISTORY_BLOCK.RECORD_HISTORY' | translate}}">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label>{{'COMMON_RECORD_HISTORY_BLOCK.CREATED_BY' | translate}}</label>
                                <input type="text" class="form-control input-sm" id="createdBy" name="createdBy" value="{{singleLoginHistoryDetails?.createdBy}}"
                                    disabled>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>{{'COMMON_RECORD_HISTORY_BLOCK.CREATED_DATE' | translate}}</label>
                                <input type="text" class="form-control input-sm" id="createdAt" name="createdAt" value="{{createdAt}}" disabled>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>{{'COMMON_RECORD_HISTORY_BLOCK.LAST_UPDATED_BY' | translate}}</label>
                                <input type="text" class="form-control input-sm" id="updatedBy" name="updatedBy" value="{{singleLoginHistoryDetails?.updatedBy}}"
                                    disabled>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>{{'COMMON_RECORD_HISTORY_BLOCK.LAST_UPDATED_DATE' | translate}}</label>
                                <input type="text" class="form-control input-sm" id="updatedAt" name="updatedAt" value="{{updatedAt}}" disabled>
                            </div>
                        </div>
                    </p-accordionTab>
                </p-accordion>
            </div>
            <div class="modal-footer" *ngIf="[actionType] == 'View'">
                <div class="col-md-12 p0">
                    <div class="pull-left">
                        <app-powered></app-powered>
                    </div>
                    <div class="pull-right text-right">
                        <button class="btn btn-primary" (click)="closePopupModal()">{{'COMMON_BUTTONS.BUTTON_CLOSE' | translate}}</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer" *ngIf="[actionType] == 'Delete'">
                <div class="col-md-12 p0row">
                    <div class="pull-left">
                        <app-powered></app-powered>
                    </div>
                    <div class="pull-right text-right">
                        <button class="btn btn-primary bottomargin" (click)="deleteLoginHistory(singleLoginHistoryDetails?._id)">{{'COMMON_BUTTONS.BUTTON_DELETE' | translate}}</button>
                        <button class="btn btn-primary bottomargin" (click)="closePopupModal()">{{'COMMON_BUTTONS.BUTTON_CLOSE' | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>