<div id="main" class="">
    <div class="card">
        <div class="card-header">
            <div class="row no-gutter">
                <div class="col-md-9">
                    <h5 class="section-title mb0 pull-left">{{fleetCommonName}}{{'COMMON_PAGE_TITLES.LIST_FLEET_TYPES' | translate}}</h5>
                    <div class="cardicons-header pull-left">
                        <a *ngIf="addstatus === 'true' && admincreate !== 'disablecreate'" data-toggle="tooltip" data-placement="top" title="{{'COMMON_BUTTON_TOOLTIPS.TOOLTIP_CREATE_ACTION' | translate}}"
                            (click)="singlefleettype('CREATE','')">
                            <i class="fa fa-15x fa-plus-square page-title-icons" aria-hidden="true"></i>
                        </a>
                        <a *ngIf="addstatus === 'false' || admincreate === 'disablecreate'" class="not-active" data-toggle="tooltip" data-placement="top" title="{{'COMMON_BUTTON_TOOLTIPS.TOOLTIP_CREATE_ACTION' | translate}}">
                            <i class="fa fa-15x fa-plus-square page-title-icons" aria-hidden="true" (click)="singlefleettype('CREATE','')"></i>
                        </a>
                        <a *ngIf="exportstatus === 'true'" data-toggle="tooltip" data-placement="top" title="{{'COMMON_BUTTON_TOOLTIPS.TOOLTIP_EXPORT_ACTION' | translate}}"
                            (click)="exportData(searchString)">
                            <i class="fa fa-15x fa-upload page-title-icons" aria-hidden="true"></i>
                        </a>
                        <a *ngIf="exportstatus === 'false'" class="not-active" data-toggle="tooltip" data-placement="top" title="{{'COMMON_BUTTON_TOOLTIPS.TOOLTIP_EXPORT_ACTION' | translate}}">
                            <i class="fa fa-15x fa-upload page-title-icons" aria-hidden="true" (click)="exportData(searchString)"></i>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group mb0">
                        <div class="input-group">
                            <button type="button" class="btn btn-primary btn-sm advanced-btn" (click)="advancedFleetTypes()">{{'COMMON_BUTTONS.BUTTON_ADVANCED' | translate}}</button>
                            <input type="text" id="input1-group2" #input [(ngModel)]="searchString" (keypress)="handleKeyPress($event)" name="input1-group2"
                                class="form-control input-sm mb0" placeholder="Search Text">
                            <span class="input-group-btn">
                                <button type="button" (click)="searchFleettypes(searchString)" class="btn btn-primary btn-sm">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-block">
            <p-dataTable [value]="alllookupsDetails" styleClass="table" [rows]="rowsPerPage" [paginator]="true" [pageLinks]="2" sortMode="multiple"
                [responsive]="true" expandableRows="true" [stacked]="stacked">
                <p-column field="enterprise.enterpriseName" header="{{'COMMON_FIELDS.ENTERPRISE' | translate}}" [sortable]="true"></p-column>
                <p-column field="fleetTypeCount" header="{{'FLEET_TYPES.FLEET_TYPE_COUNT' | translate}}" [sortable]="true"></p-column>
                <p-column field="specialCount" header="{{'FLEET_TYPES.SPECIAL_TYPE_COUNT' | translate}}" [sortable]="true"></p-column>
                <p-column field="transactableCount" header="{{'FLEET_TYPES.IS_TRANSCTABLE_COUNT' | translate}}" [sortable]="true"></p-column>
                <p-column field="eventsEnabledCount" header="{{'FLEET_TYPES.IS_EVENT_ENABLE_COUNT' | translate}}" [sortable]="true"></p-column>
                <p-column field="enterprise.fleetAvaliableColor" header="{{'ENTERPRISE_SETTINGS.AVAILABLE_FLEET_COLOR' | translate}}{{'ENTERPRISE_SETTINGS.COLOR' | translate}}" [sortable]="true"></p-column>
                <p-column field="enterprise.fleetCheckinColor" header="{{'ENTERPRISE_SETTINGS.CHECKIN_FLEET_COLOR' | translate}}{{'ENTERPRISE_SETTINGS.COLOR' | translate}}" [sortable]="true"></p-column>
                <p-column field="enterprise.fleetReservedColor" header="{{'ENTERPRISE_SETTINGS.RESERVED_FLEET_COLOR' | translate}}{{'ENTERPRISE_SETTINGS.COLOR' | translate}}" [sortable]="true"></p-column>
                <!-- <p-column field="enterprise.fleetInactiveColor" header="{{'ENTERPRISE_SETTINGS.INACTIVE_FLEET_COLOR' | translate}}{{fleetCommonName}}{{'ENTERPRISE_SETTINGS.COLOR' | translate}}" [sortable]="true"></p-column> -->
                <p-column field="enterprise.fleetNonTransactableColor" header="{{'ENTERPRISE_SETTINGS.NONTRANSACTABLE_FLEET_COLOR' | translate}}{{'ENTERPRISE_SETTINGS.COLOR' | translate}}"
                    [sortable]="true"></p-column>
                <p-column field="actions" header="{{'COMMON_FIELDS.ACTIONS' | translate}}" styleClass="action-three-col">
                    <template let-alllookups="rowData" pTemplate="body">
                        <a *ngIf="viewstatus === 'true'" data-toggle="tooltip" data-placement="top" title="{{'COMMON_BUTTON_TOOLTIPS.TOOLTIP_VIEW_ACTION' | translate}}"
                            (click)="singlefleettype('VIEW',alllookups)">
                            <i class="fa fa-15x fa-eye viewicon" aria-hidden="true"></i>
                        </a>
                        <a *ngIf="viewstatus === 'false'" class="not-active" data-toggle="tooltip" data-placement="top" title="{{'COMMON_BUTTON_TOOLTIPS.TOOLTIP_VIEW_ACTION' | translate}}">
                            <i class="fa fa-15x fa-eye viewicon" aria-hidden="true" (click)="singlefleettype('VIEW',alllookups)"></i>
                        </a>
                        <a *ngIf="editstatus === 'true'" data-toggle="tooltip" data-placement="top" title="{{'COMMON_BUTTON_TOOLTIPS.TOOLTIP_EDIT_ACTION' | translate}}"
                            (click)="singlefleettype('EDIT',alllookups)">
                            <i class="fa fa-15x fa-pencil editicon" aria-hidden="true"></i>
                        </a>
                        <a *ngIf="editstatus === 'false'" class="not-active" data-toggle="tooltip" data-placement="top" title="{{'COMMON_BUTTON_TOOLTIPS.TOOLTIP_EDIT_ACTION' | translate}}">
                            <i class="fa fa-15x fa-pencil editicon" aria-hidden="true" (click)="singlefleettype('EDIT',alllookups)"></i>
                        </a>
                        <!-- <a *ngIf="deletestatus === 'true'" data-toggle="tooltip" data-placement="top" title="{{'COMMON_BUTTON_TOOLTIPS.TOOLTIP_DELETE_ACTION' | translate}}"
                            (click)="singlefleettype('DELETE',alllookups)">
                            <i class="fa fa-15x fa-trash deleteicon" aria-hidden="true"></i>
                        </a>
                        <a *ngIf="deletestatus === 'false'" class="not-active" data-toggle="tooltip" data-placement="top" title="{{'COMMON_BUTTON_TOOLTIPS.TOOLTIP_DELETE_ACTION' | translate}}">
                            <i class="fa fa-15x fa-trash deleteicon" aria-hidden="true" (click)="singlefleettype('DELETE',alllookups)"></i>
                        </a> -->
                    </template>
                </p-column>
            </p-dataTable>
        </div>
    </div>
</div>
<app-fleettypes-popup (uploaded)="getallListFleetTypes($event)"></app-fleettypes-popup>

<!-- Advance Search -->
<div bsModal #advancedModel="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" (keyup.Esc)="hideadvancedModel()"
    tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <!-- header -->
            <div class="modal-header">
                <button type="button" class="close" (click)="hideadvancedModel()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="row">
                    <div class="col-md-12">
                        <img src="assets/img/mapapp-logo.png" height="30" class="pull-left">
                        <img src="{{apiEndPoint}}/{{enterpriseIconFilePath}}" onError="this.onerror=null;this.src='assets/img/logo.png';" height="30"
                            class="pull-right">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h5 class="popupsection-title">{{'COMMON_PAGE_TITLES.ADVANCED_SEARCH' | translate}}</h5>
                    </div>
                </div>
            </div>

            <!-- body -->
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-md-5 form-control-label">
                        <label for="">{{'COMMON_FIELDS.ENTERPRISE' | translate}} </label>
                    </div>
                    <div class=" col-md-7">
                        <input name="" *ngIf="[userrole] == 'Super Admin' || [userrole] == 'Sub Admin'|| [userrole] == 'Tech Help'" class="form-control input-sm"
                            [(ngModel)]="enterpriseName" onkeypress="return event.charCode != 34" />
                        <input type="text" *ngIf="[userrole] != 'Super Admin' && [userrole] != 'Sub Admin'&& [userrole] != 'Tech Help'" class="text-capitalize form-control input-sm"
                            id="enterpriseName" name="enterpriseName" [(ngModel)]="enterpriseNames" disabled>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-5 form-control-label">
                       <label>{{'ENTERPRISE_SETTINGS.AVAILABLE_FLEET_COLOR' | translate}}{{fleetCommonName}}{{'ENTERPRISE_SETTINGS.COLOR' | translate}}</label>
                    </div>
                    <div class=" col-md-7">
                        <select id="" class="form-control input-sm" [(ngModel)]="availablefleetcolor">
                            <option value=''>{{'COMMON_FIELDS.SELECT_BOX_DEFAULT' | translate}}</option>
                            <option *ngFor="let clang of colorlist; let i='index'" value="{{clang.lookupName}}" id="profilePage_timezone_select_option_{{i}}">{{clang.lookupName}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-5 form-control-label">
                       <label>{{'ENTERPRISE_SETTINGS.RESERVED_FLEET_COLOR' | translate}}{{fleetCommonName}}{{'ENTERPRISE_SETTINGS.COLOR' | translate}}</label>
                    </div>
                    <div class=" col-md-7">
                        <select id="" class="form-control input-sm" [(ngModel)]="reservedfleetcolor">
                            <option value=''>{{'COMMON_FIELDS.SELECT_BOX_DEFAULT' | translate}}</option>
                            <option *ngFor="let clang of colorlist; let i='index'" value="{{clang.lookupName}}" id="profilePage_timezone_select_option_{{i}}">{{clang.lookupName}}</option>
                        </select>
                    </div>
                </div>
                <!-- <div class="form-group row">
                    <div class="col-md-5 form-control-label">
                       <label>{{'ENTERPRISE_SETTINGS.INACTIVE_FLEET_COLOR' | translate}}{{fleetCommonName}}{{'ENTERPRISE_SETTINGS.COLOR' | translate}}</label>
                    </div>
                    <div class=" col-md-7">
                        <select id="" class="form-control input-sm" [(ngModel)]="inactivefleetcolor">
                            <option value=''>{{'COMMON_FIELDS.SELECT_BOX_DEFAULT' | translate}}</option>
                            <option *ngFor="let clang of colorlist; let i='index'" value="{{clang.lookupName}}" id="profilePage_timezone_select_option_{{i}}">{{clang.lookupName}}</option>
                        </select>
                    </div>
                </div> -->
                <div class="form-group row">
                    <div class="col-md-5 form-control-label">
                       <label>{{'ENTERPRISE_SETTINGS.NONTRANSACTABLE_FLEET_COLOR' | translate}}{{fleetCommonName}}{{'ENTERPRISE_SETTINGS.COLOR' | translate}}</label>
                    </div>
                    <div class=" col-md-7">
                        <select id="" class="form-control input-sm" [(ngModel)]="fleettransactablecolor">
                            <option value=''>{{'COMMON_FIELDS.SELECT_BOX_DEFAULT' | translate}}</option>
                            <option *ngFor="let clang of colorlist; let i='index'" value="{{clang.lookupName}}" id="profilePage_timezone_select_option_{{i}}">{{clang.lookupName}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-5 form-control-label">
                       <label>{{'ENTERPRISE_SETTINGS.CHECKIN_FLEET_COLOR' | translate}}{{fleetCommonName}}{{'ENTERPRISE_SETTINGS.COLOR' | translate}}</label>
                    </div>
                    <div class=" col-md-7">
                        <select id="" class="form-control input-sm" [(ngModel)]="checkinfleetcolor">
                            <option value=''>{{'COMMON_FIELDS.SELECT_BOX_DEFAULT' | translate}}</option>
                            <option *ngFor="let clang of colorlist; let i='index'" value="{{clang.lookupName}}" id="profilePage_timezone_select_option_{{i}}">{{clang.lookupName}}</option>
                        </select>
                    </div>
                </div>
            </div>

            <!-- footer -->
            <div class="modal-footer">
                <div class="col-md-12 p0">
                    <div class="pull-left">
                        <app-powered></app-powered>
                    </div>
                    <div class="pull-right text-right">
                        <button type="button" class="btn btn-primary" (click)="advancedFleetTypesSearch()">{{'COMMON_BUTTONS.BUTTON_SUBMIT' | translate}}</button>
                        <button type="button" class="btn btn-primary" (click)="clearAdvancedModal()">{{'COMMON_BUTTONS.BUTTON_CLEAR' | translate}}</button>
                        <button type="button" class="btn btn-primary" (click)="hideadvancedModel()">{{'COMMON_BUTTONS.BUTTON_CLOSE' | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>