<!--
Application Name = Indoor Navigation
Version = 1.0
Release Date = September 06, 2017
Copyright = ©2017 SRISYS Inc
Developed by = Srisys Inc, 7908 Cincinnati Dayton Rd, Suite C, West Chester,
OH 45069 USA web: www.srisys.com <http://www.srisys.com>
 -->
<div id="maincontest">
    <div class="card">
        <div class="card-header">
            <div class="row no-gutter">
                <div class="col-md-9">
                    <h5 class="section-title mb0 pull-left">{{'COMMON_PAGE_TITLES.MULTI_STOP_LOCATOR' |translate}}</h5>
                    <div class="cardicons-header pull-left">
                        <a *ngIf="enterprisesexportstatus == 'true'" data-toggle="tooltip" data-placement="top" title="{{'COMMON_BUTTON_TOOLTIPS.TOOLTIP_EXPORT_ACTION' | translate}}">
                            <i class="fa fa-15x fa-upload page-title-icons" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group mb0">
                        <div class="input-group">
                            <button type="button" class="btn btn-primary btn-sm advanced-btn">{{'COMMON_BUTTONS.BUTTON_ADVANCED' | translate}}</button>
                            <input type="text" id="input1-group2" [(ngModel)]="searchstring" #input (keypress)="handleKeyPress($event)" name="input1-group2"
                                maxlength="10" class="form-control input-sm mb0" placeholder="{{'COMMON_FIELDS.SEARCH_TEXT' | translate}}">
                                <span class="input-group-btn">
                                <button type="button" (click)="getEnterprisesSettings(searchstring)" class="btn btn-primary btn-sm">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-block">
            <p-dataTable [value]="allenterprisesDetails" styleClass="table" [rows]="rowsPerPage" [paginator]="true" [pageLinks]="2" sortMode="multiple"
                [responsive]="true" expandableRows="true" [stacked]="stacked">
                <p-column field="enterprise.enterpriseName" header="{{'COMMON_FIELDS.ENTERPRISE' | translate}}" [sortable]="true"></p-column>
                <p-column field="salesOrder" header="{{'MULTI_STOP.SALES_ORDER' | translate}}" [sortable]="true"></p-column>
                <p-column field="delivery" header="{{'MULTI_STOP.DELIVERY' | translate}}" [sortable]="true"></p-column>
                <p-column field="pickSlip" header="{{'MULTI_STOP.PICK_SLIP' | translate}}" [sortable]="true"></p-column>
                <p-column field="wareHouse" header="{{'MULTI_STOP.WAREHOUSE' | translate}}" [sortable]="true"></p-column>
                <!-- <p-column field="pickSlipDate" header="{{'MULTI_STOP.PICK_SLIP_DATE' | translate}}" [sortable]="true"></p-column> -->
                <p-column field="pickSlipDate" header="{{'MULTI_STOP.PICK_SLIP_DATE' | translate}}" [sortable]="true" styleClass="startdate">
                    <template let-allenterprise="rowData" pTemplate="body">
                        <span>
                        {{allenterprise.pickSlipDate}} {{userpreferedtimezone}}
                      </span>
                    </template>
                </p-column>
                <p-column field="pickBatch" header="{{'MULTI_STOP.PICK_BATCH' | translate}}" [sortable]="true"></p-column>
                <!-- <p-column field="orderDate" header="{{'MULTI_STOP.ORDER_DATE' | translate}}" [sortable]="true"></p-column> -->
                <p-column field="orderDate" header="{{'MULTI_STOP.ORDER_DATE' | translate}}" [sortable]="true" styleClass="startdate">
                    <template let-allenterprise="rowData" pTemplate="body">
                        <span>
                        {{allenterprise.orderDate}} {{userpreferedtimezone}}
                      </span>
                    </template>
                </p-column>
                <p-column field="status" header="{{'COMMON_FIELDS.STATUS' | translate}}" [sortable]="true"></p-column>
                <p-column field="actions" styleClass="action-four-col" header="{{'COMMON_FIELDS.ACTIONS' | translate}}">
                    <template let-allenterprise="rowData" pTemplate="body">
                        <a data-toggle="tooltip" data-placement="top" title="{{'COMMON_BUTTON_TOOLTIPS.TOOLTIP_VIEW_ACTION' | translate}}" (click)="singleEnterprisesetting('VIEW',allenterprise)">
                            <i class="fa fa-15x fa-eye viewicon" aria-hidden="true"></i>
                        </a>
                        <a *ngIf="allenterprise.status !== 'Canceled' && allenterprise.status !== 'Closed'" data-toggle="tooltip" data-placement="top"
                            title="{{'COMMON_BUTTON_TOOLTIPS.TOOLTIP_EDIT_ACTION' | translate}}">
                            <i class="fa fa-15x fa-pencil editicon" aria-hidden="true" (click)="singleEnterprisesetting('EDIT',allenterprise)"></i>
                            </a>
                            <a *ngIf="allenterprise.status === 'Canceled' || allenterprise.status === 'Closed'" class="not-active" data-toggle="tooltip"
                                data-placement="top" title="{{'COMMON_BUTTON_TOOLTIPS.TOOLTIP_EDIT_ACTION' | translate}}">
                                <i class="fa fa-15x fa-pencil editicon" aria-hidden="true"></i>
                                </a>
                                <a *ngIf="allenterprise.status !== 'Canceled' && allenterprise.status !== 'Closed'" data-toggle="tooltip" data-placement="top"
                                    title="{{'COMMON_BUTTON_TOOLTIPS.TOOLTIP_CANCEL_ACTION' | translate}}" (click)="singleEnterprisesetting('CANCEL',allenterprise)">
                                    <i class="fa fa-15x fa-times cancle-action" aria-hidden="true"></i>
                                    </a>
                                    <a *ngIf="allenterprise.status === 'Canceled' || allenterprise.status === 'Closed'" class="not-active" data-toggle="tooltip"
                                        data-placement="top" title="{{'COMMON_BUTTON_TOOLTIPS.TOOLTIP_CANCEL_ACTION' | translate}}">
                                        <i class="fa fa-15x fa-times cancle-action" aria-hidden="true"></i>
                                        </a>
                                        <a data-toggle="tooltip" data-placement="top" title="{{'COMMON_BUTTON_TOOLTIPS.TOOLTIP_DELETE_ACTION' | translate}}">
                                            <i class="fa fa-15x fa-trash deleteicon" aria-hidden="true" (click)="singleEnterprisesetting('DELETE',allenterprise)"></i>
                                        </a>
                                        <a data-toggle="tooltip" data-placement="top" title="{{'COMMON_BUTTON_TOOLTIPS.TOOLTIP_NAVIGATE_ACTION' | translate}}">
                                            <i class="fa fa-15x fa-location-arrow viewicon" aria-hidden="true" (click)="singlelocateFleet('locate', allenterprise)"></i>
                                        </a>
                                        <a *ngIf="allenterprise.status === 'Released'" data-toggle="tooltip" data-placement="top" title="{{'COMMON_BUTTON_TOOLTIPS.TOOLTIP_ASSIGN_ACTION' | translate}}">
                                            <i class="fa fa-tasks" aria-hidden="true" (click)="singleEnterprisesetting('ASSIGN', allenterprise)"></i>
                                        </a>
                                        <a *ngIf="allenterprise.status === 'Assigned' || allenterprise.status === 'Picked' || allenterprise.status === 'Canceled' || allenterprise.status === 'Closed'" data-toggle="tooltip" class="not-active" data-placement="top" title="{{'COMMON_BUTTON_TOOLTIPS.TOOLTIP_ASSIGN_ACTION' | translate}}">
                                            <i class="fa fa-tasks" aria-hidden="true" (click)="singleEnterprisesetting('ASSIGN', allenterprise)"></i>
                                        </a>
                    </template>
                </p-column>
                </p-dataTable>
        </div>
    </div>
</div>
<div bsModal #advancedModel="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" (keyup.Esc)="hideAdvancedModal()"
    tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="hideAdvancedModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="row">
                    <div class="col-md-12">
                        <img src="assets/img/mapapp-logo.png" height="30" class="pull-left">
                        <img src="{{apiEndPoint}}/{{enterpriseIconFilePath}}" onError="this.onerror=null;this.src='assets/img/logo.png';" height="30"
                            class="pull-right">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h5 class="popupsection-title">{{'COMMON_PAGE_TITLES.ADVANCED_SEARCH' | translate}}</h5>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-md-5 form-control-label">
                        <label for="">{{'COMMON_FIELDS.ENTERPRISE' | translate}} </label>
                    </div>
                    <div class=" col-md-7">
                        <input name="" *ngIf="[userrole] == 'Super Admin' || [userrole] == 'Sub Admin'|| [userrole] == 'Tech Help'" class="form-control input-sm"
                            [(ngModel)]="enterpriseName" onkeypress="return event.charCode != 34" />
                        <input type="text" *ngIf="[userrole] != 'Super Admin' && [userrole] != 'Sub Admin'&& [userrole] != 'Tech Help'" class="text-capitalize form-control input-sm"
                            id="enterpriseName" name="enterpriseName" [(ngModel)]="enterpriseNames" disabled>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-5 form-control-label">
                        <label>{{'ENTERPRISE_SETTINGS.AVAILABLE_FLEET_COLOR' | translate}}</label>
                    </div>
                    <div class=" col-md-7">
                        <select id="" class="form-control input-sm" [(ngModel)]="availablefleetcolor">
                                <option value=''>{{'COMMON_FIELDS.SELECT_BOX_DEFAULT' | translate}}</option>
                                <option *ngFor="let clang of colorlist; let i='index'" value="{{clang.lookupName}}" id="profilePage_timezone_select_option_{{i}}">{{clang.lookupName}}</option>
                            </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-5 form-control-label">
                        <label>{{'ENTERPRISE_SETTINGS.RESERVED_FLEET_COLOR' | translate}}</label>
                    </div>
                    <div class=" col-md-7">
                        <select id="" class="form-control input-sm" [(ngModel)]="reservedfleetcolor">
                                <option value=''>{{'COMMON_FIELDS.SELECT_BOX_DEFAULT' | translate}}</option>
                                <option *ngFor="let clang of colorlist; let i='index'" value="{{clang.lookupName}}" id="profilePage_timezone_select_option_{{i}}">{{clang.lookupName}}</option>
                            </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-5 form-control-label">
                        <label>{{'ENTERPRISE_SETTINGS.INACTIVE_FLEET_COLOR' | translate}}</label>
                    </div>
                    <div class=" col-md-7">
                        <select id="" class="form-control input-sm" [(ngModel)]="inactivefleetcolor">
                                <option value=''>{{'COMMON_FIELDS.SELECT_BOX_DEFAULT' | translate}}</option>
                                <option *ngFor="let clang of colorlist; let i='index'" value="{{clang.lookupName}}" id="profilePage_timezone_select_option_{{i}}">{{clang.lookupName}}</option>
                            </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-5 form-control-label">
                        <label>{{'ENTERPRISE_SETTINGS.CHECKIN_FLEET_COLOR' | translate}}</label>
                    </div>
                    <div class=" col-md-7">
                        <select id="" class="form-control input-sm" [(ngModel)]="checkinfleetcolor">
                                <option value=''>{{'COMMON_FIELDS.SELECT_BOX_DEFAULT' | translate}}</option>
                                <option *ngFor="let clang of colorlist; let i='index'" value="{{clang.lookupName}}" id="profilePage_timezone_select_option_{{i}}">{{clang.lookupName}}</option>
                            </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-12 p0">
                    <div class="pull-left">
                        <app-powered></app-powered>
                    </div>
                    <div class="pull-right text-right">
                        <!--<button type="button" class="btn btn-primary" (click)="advancedEnterprise()">{{'COMMON_BUTTONS.BUTTON_SUBMIT' | translate}}</button>-->
                        <button type="button" class="btn btn-primary" (click)="clearAdvancedModal()">{{'COMMON_BUTTONS.BUTTON_CLEAR' | translate}}</button>
                        <button type="button" class="btn btn-primary" (click)="hideAdvancedModal()">{{'COMMON_BUTTONS.BUTTON_CLOSE' | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <app-pickups-popup></app-pickups-popup>