<div class="animated fadeIn">
  <form>
    <div class="row">
      <div class="form-group col-md-3">
        <label for="selectpage">Select Page</label>
        <select class="form-control input-sm" id="selectpage" name="selectpage" size="1">
                                    <option value="fp">Forgot Password</option>
                                    <option value="if">Invite Friends</option>
                                    <option value="pc">Password Change</option>
                                    <option value="re">Register </option>
                                    <option value="up">Update Profile </option>
                                    <option value="vf">Video Flag </option>
                                </select>
      </div>
      <div class="form-group col-md-3">
        <label for="selectcountry">Select Language</label>
        <select class="form-control input-sm" id="selectcountry" name="selectcountry" size="1">
                                    <option value="enus">English - USA</option>
                                    <option value="enuk">English - UK</option>
                                    <option value="hi">Hindi</option>
                                    <option value="te">Telugu</option>
                                </select>
      </div>
    </div>
    <button class="btn btn-primary mt10" type="button">Submit</button>
  </form>
</div>