<!--Application Name = Indoor Navigation
Version = 1.0
Release Date = September 06, 2017
Copyright = ©2017 SRISYS Inc
Developed by = Srisys Inc, 7908 Cincinnati Dayton Rd, Suite C, West Chester,
OH 45069 USA web: www.srisys.com -->
<div id="main" class="">
  <div class="card">
    <div class="card-header">
      <div class="row no-gutter">
        <div class="col-md-9">
          <h5 class="section-title mb0 pull-left">{{ 'COMMON_PAGE_TITLES.LIST_STATIC_CONTENT' | translate}}</h5>
          <div class="cardicons-header pull-left">
            <a *ngIf="addstatus == 'true'" data-toggle="tooltip" (click)="enterpriseStaticContentPopup('CREATE','')" data-placement="top"
              title="{{'COMMON_BUTTON_TOOLTIPS.TOOLTIP_CREATE_ACTION' | translate}}">
              <i class="fa fa-15x fa-plus-square page-title-icons" aria-hidden="true"></i>
            </a>
            <a *ngIf="addstatus == 'false'" class="not-active" data-toggle="tooltip" data-placement="top" title="{{'COMMON_BUTTON_TOOLTIPS.TOOLTIP_CREATE_ACTION' | translate}}">
              <i class="fa fa-15x fa-plus-square page-title-icons" aria-hidden="true" (click)="enterpriseStaticContentPopup('CREATE','')"></i>
            </a>
            <a *ngIf="exportstatus == 'true'" data-toggle="tooltip" data-placement="top" title="{{'COMMON_BUTTON_TOOLTIPS.TOOLTIP_EXPORT_ACTION' | translate}}"
              (click)="exportData(searchString)">
              <i class="fa fa-15x fa-upload page-title-icons" aria-hidden="true"></i>
            </a>
            <a *ngIf="exportstatus == 'false'" class="not-active" data-toggle="tooltip" data-placement="top" title="{{'COMMON_BUTTON_TOOLTIPS.TOOLTIP_EXPORT_ACTION' | translate}}">
              <i class="fa fa-15x fa-upload page-title-icons" aria-hidden="true" (click)="exportData(searchString)"></i>
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group mb0">
            <div class="input-group">
              <button type="button" class="btn btn-primary btn-sm advanced-btn" (click)="advancePopup()">{{'COMMON_BUTTONS.BUTTON_ADVANCED' | translate}}</button>
              <input type="text" #input [(ngModel)]="searchString" (keypress)="handleKeyPress($event)" pInputText size="50" placeholder="{{'COMMON_FIELDS.SEARCH_TEXT' | translate}}"
                class="form-control input-sm mb0">
              <span class="input-group-btn">
                <button type="button" (click)="getEnterpriseStaticContent(searchString)" class="btn btn-primary btn-sm">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-block">
      <p-dataTable [value]="enterprisestaticcontent" styleClass="table" [rows]="rowsPerPage" [paginator]="true" [pageLinks]="2"
        sortMode="multiple" [responsive]="true" expandableRows="true" [stacked]="stacked">
        <p-column field="enterprise.enterpriseName" header="{{'COMMON_FIELDS.ENTERPRISE' | translate}}" [sortable]="true"></p-column>
        <p-column field="fleet.fleetName" header="{{fleetCommonName}}" [sortable]="true"></p-column>
        <p-column field="parentPath" header="{{'ENTERPRISE_STATIC_CONTENT.PARENT_MENU' | translate}}" [sortable]="true"></p-column>
        <p-column field="menuType" header="{{'ENTERPRISE_STATIC_CONTENT.MENU_TYPE' | translate}}" [sortable]="true" styleClass="type"></p-column>
        <p-column field="menuName" header="{{'ENTERPRISE_STATIC_CONTENT.MENU_NAME' | translate}}" [sortable]="true"></p-column>
        <p-column field="menuSequence" header="{{'COMMON_FIELDS.DISPLAY_SEQUENCE' | translate}}" [sortable]="true" styleClass="startdate">
          <template let-user="rowData" pTemplate="body">
            <div class="text-right">{{user.menuSequence}}</div>
          </template>
        </p-column>
        <p-column field="notes" header="{{'COMMON_FIELDS.NOTES' | translate}}" [sortable]="true"></p-column>
        <p-column field="isEnabled" styleClass="text-capitalize enabled" header="{{'COMMON_FIELDS.ENABLED' | translate}}" [sortable]="true"></p-column>
        <p-column field="actions" header="{{'COMMON_FIELDS.ACTIONS' | translate}}" styleClass="action-three-col">
          <template let-enterprisestaticcontent="rowData" pTemplate="body">
            <a *ngIf="viewstatus == 'true'" data-toggle="tooltip" data-placement="top" title="{{'COMMON_BUTTON_TOOLTIPS.TOOLTIP_VIEW_ACTION' | translate}}"
              (click)="enterpriseStaticContentPopup('VIEW',enterprisestaticcontent)">
              <i class="fa fa-15x fa-eye viewicon" aria-hidden="true"></i>
            </a>
            <a *ngIf="editstatus == 'true'" data-toggle="tooltip" data-placement="top" title="{{'COMMON_BUTTON_TOOLTIPS.TOOLTIP_EDIT_ACTION' | translate}}"
              (click)="enterpriseStaticContentPopup('EDIT',enterprisestaticcontent)">
              <i class="fa fa-15x fa-pencil editicon" aria-hidden="true"></i>
            </a>
            <a *ngIf="deletestatus == 'true'" data-toggle="tooltip" data-placement="top" title="{{'COMMON_BUTTON_TOOLTIPS.TOOLTIP_DELETE_ACTION' | translate}}"
              (click)="enterpriseStaticContentPopup('DELETE',enterprisestaticcontent)">
              <i class="fa fa-15x fa-trash deleteicon" aria-hidden="true"></i>
            </a>
          </template>
        </p-column>
      </p-dataTable>
    </div>
  </div>
</div>
<app-enterprisestaticcontent-popup (deleted)="delete($event)"></app-enterprisestaticcontent-popup>
<div bsModal #myModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" (keyup.Esc)="hideAdvanceModal()" tabindex="-1"
  role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="hideAdvanceModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="row">
          <div class="col-md-12">
            <img src="assets/img/mapapp-logo.png" height="30" class="pull-left">
            <img src="{{apiEndPoint}}/{{enterpriseIconFilePath}}" onError="this.onerror=null;this.src='assets/img/logo.png';" height="30"
              class="pull-right">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h5 class="popupsection-title">{{'COMMON_PAGE_TITLES.ADVANCED_SEARCH' | translate}}</h5>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <div class="col-md-5 form-control-label">
            <label for="">{{'COMMON_FIELDS.ENTERPRISE' | translate}}</label>
          </div>
          <div class=" col-md-7">
            <input type="text" *ngIf="[userrole] == 'Super Admin' || [userrole] == 'Sub Admin'|| [userrole] == 'Tech Help'" class="text-capitalize form-control input-sm"
              id="enterpriseName" name="enterpriseName" [(ngModel)]="advsearch.enterpriseName" onkeypress="return event.charCode != 34">
            <input type="text" *ngIf="[userrole] != 'Super Admin' && [userrole] != 'Sub Admin'&& [userrole] != 'Tech Help'" class="text-capitalize form-control input-sm"
              id="enterpriseName" name="enterpriseName" [(ngModel)]="enterpriseNames" disabled>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-5 form-control-label">
            <label for="">{{fleetCommonName}}</label>
          </div>
          <div class=" col-md-7">
            <input name="fleetName" class="form-control input-sm" [(ngModel)]="advsearch.fleet" onkeypress="return event.charCode != 34"
            />
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-5 form-control-label">
            <label>{{'ENTERPRISE_STATIC_CONTENT.MENU_NAME' | translate}}</label>
          </div>
          <div class=" col-md-7">
            <input type="text" class="form-control input-sm text-capitalize" onkeypress="return event.charCode != 34" [(ngModel)]="advsearch.menuName"
              id="menuNameid" name="menuName">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-5 form-control-label">
            <label>{{'ENTERPRISE_STATIC_CONTENT.MENU_TYPE' | translate}}</label>
          </div>
          <div class=" col-md-7">
            <select id="menuTypeId" class="form-control input-sm" (change)="selectedMenuType($event.target.value)">
              <option value='undefined'>{{'COMMON_FIELDS.SELECT_BOX_DEFAULT' | translate}}</option>
              <option *ngFor="let menu of menuTypeList; let i='index'" value="{{menu.description}}" id="menu{{i}}">{{menu.description}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-5 form-control-label">
            <label for="">{{'COMMON_FIELDS.ENABLED' | translate}}</label>
          </div>
          <div class=" col-md-7">
            <label class="checkbox-inline" for="">
              <label class="checkbox-inline" for="inline-checkbox1">
                <input id="enableId" name="enableName" type="checkbox" value="" [(ngModel)]="advsearch.enabled" class="regular-checkbox big-checkbox">
                <label for="enableId"></label>
              </label>
            </label>
          </div>
        </div>
      </div>
      <div class="text-danger text-center">{{error | translate}}</div>
      <div class="modal-footer">
        <div class="col-md-12 p0">
          <div class="pull-left">
            <app-powered></app-powered>
          </div>
          <div class="pull-right text-right">
            <button type="button" class="btn btn-primary" (click)="advanceSearch()">{{'COMMON_BUTTONS.BUTTON_SUBMIT' | translate}}</button>
            <button type="button" class="btn btn-primary" (click)="clearAdvanced()">{{'COMMON_BUTTONS.BUTTON_CLEAR' | translate}}</button>
            <button type="button" class="btn btn-primary" (click)="hideAdvanceModal()">{{'COMMON_BUTTONS.BUTTON_CLOSE' | translate}}</button>
          </div>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
</div>