// Here you can add other styles
.popupsection-title {
    background: $sidebar-nav-link-active-bg;
    color: $sidebar-color;
    padding: 4px 2px;
    margin-top: 15px;
    border-radius: 3px;
}
.ui-picklist-caption{
    background: $sidebar-nav-link-active-bg;
    color: $sidebar-color;
    font-size: 13px;
    padding: .1em .2em !important;
    text-align: left !important;
}
.selectheader
{
     background-color: $sidebar-nav-link-active-bg !important;
     color: $sidebar-color;
}