<!--
Application Name = Indoor Navigation
Version = 1.0
Release Date = September 06, 2017
Copyright = ©2017 SRISYS Inc
Developed by = Srisys Inc, 7908 Cincinnati Dayton Rd, Suite C, West Chester,
OH 45069 USA web: www.srisys.com <http://www.srisys.com>
-->
<div id="main" class="">
    <div class="card">
        <div class="card-header">
            <div class="row no-gutter">
                <div class="col-md-9">
                    <h5 class="section-title mb0 pull-left">{{'COMMON_PAGE_TITLES.LIST_IMPORT_HISTORY' | translate}}</h5>
                    <div class="cardicons-header pull-left">
                        <a *ngIf="exportstatus == 'true'" data-toggle="tooltip" data-placement="top" title="{{'COMMON_BUTTON_TOOLTIPS.TOOLTIP_EXPORT_ACTION' | translate}}"
                            (click)="exportData(searchstring)">
                            <i class="fa fa-15x fa-upload page-title-icons" aria-hidden="true"></i>
                        </a>
                        <a *ngIf="exportstatus == 'false'" class="not-active" data-toggle="tooltip" data-placement="top" title="{{'COMMON_BUTTON_TOOLTIPS.TOOLTIP_EXPORT_ACTION' | translate}}">
                            <i class="fa fa-15x fa-upload page-title-icons" aria-hidden="true" (click)="exportData(searchstring)"></i>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group mb0">
                        <div class="input-group">
                            <button type="button" (click)="openAdvanceImportHistoryModal()" class="btn btn-primary btn-sm advanced-btn">{{'COMMON_BUTTONS.BUTTON_ADVANCED' | translate}}</button>
                            <input type="text" id="input1-group2" #input [(ngModel)]="searchstring" (keypress)="handleKeyPress($event)" name="input1-group2"
                                class="form-control input-sm mb0" placeholder="{{'COMMON_FIELDS.SEARCH_TEXT'  | translate}}">
                            <span class="input-group-btn">
                                <button type="button" (click)="getAllImportHistorySeachList(searchstring)" class="btn btn-primary btn-sm">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-block">
            <p-dataTable [responsive]="true" [stacked]="stacked" styleClass="importslist table" [value]="allImportHistory" [rows]="rowsPerPage"
                [paginator]="true" [pageLinks]="2" expandableRows="true" sortMode="multiple">
                <p-column field="enterprise.enterpriseName" header="{{'COMMON_FIELDS.ENTERPRISE' | translate}}" [sortable]="true">
                </p-column>
                <p-column field="page" header="{{'ENTERPRISE_STATIC_CONTENT.PAGE_NAME' | translate}}" [sortable]="true">
                </p-column>
                <p-column field="name" header="{{'IMPORT_HISTORY.IMPORT_FILE_NAME' | translate}}" [sortable]="true">
                </p-column>
                <p-column field="filePath" header="{{'IMPORT_HISTORY.IMPORT_FILE_PATH' | translate}}" [sortable]="true">
                </p-column>
                <p-column field="createdAt" header="{{'COMMON_RECORD_HISTORY_BLOCK.CREATED_DATE' | translate}}" [sortable]="true" styleClass="createddate">
                </p-column>
                <p-column field="status" header="{{'COMMON_FIELDS.STATUS' | translate}}" [sortable]="true" styleClass="status"></p-column>
                <p-column header="{{'COMMON_FIELDS.ACTIONS' | translate}}" styleClass="action-three-col">
                    <ng-template let-importhistorylist="rowData" pTemplate="body">
                        <a *ngIf="viewstatus == 'true'" data-toggle="tooltip" data-placement="top" title="{{'COMMON_BUTTON_TOOLTIPS.TOOLTIP_VIEW_ACTION' | translate}}"
                            (click)="getSelectedImportHistory('View',importhistorylist)">
                            <i class="fa fa-15x fa-eye viewicon" aria-hidden="true"></i>
                        </a>
                        <a *ngIf="viewstatus == 'false'" class="not-active" data-toggle="tooltip" data-placement="top" title="{{'COMMON_BUTTON_TOOLTIPS.TOOLTIP_VIEW_ACTION' | translate}}">
                            <i class="fa fa-15x fa-eye viewicon" aria-hidden="true" (click)="getSelectedImportHistory('View',importhistorylist)"></i>
                        </a>
                        <a *ngIf="deletestatus == 'true'" data-toggle="tooltip" data-placement="top" title="{{'COMMON_BUTTON_TOOLTIPS.TOOLTIP_DELETE_ACTION' | translate}}"
                            (click)="getSelectedImportHistory('Delete',importhistorylist)">
                            <i class="fa fa-15x fa-trash deleteicon" aria-hidden="true"></i>
                        </a>
                        <a *ngIf="deletestatus == 'false'" class="not-active" data-toggle="tooltip" data-placement="top" title="{{'COMMON_BUTTON_TOOLTIPS.TOOLTIP_DELETE_ACTION' | translate}}">
                            <i class="fa fa-15x fa-trash deleteicon" aria-hidden="true" (click)="getSelectedImportHistory('Delete',importhistorylist)"></i>
                        </a>
                        <a *ngIf="exportstatus == 'true' && importhistorylist.status == 'Done'" data-toggle="tooltip" data-placement="top" title="{{'COMMON_BUTTON_TOOLTIPS.TOOLTIP_EXPORT_ACTION' | translate}}"
                            (click)="exportSelectedHistory(importhistorylist)">
                            <i class="fa fa-15x fa-upload import-icons" aria-hidden="true"></i>
                        </a>
                        <a *ngIf="exportstatus == 'false'" class="not-active" data-toggle="tooltip" data-placement="top" title="{{'COMMON_BUTTON_TOOLTIPS.TOOLTIP_EXPORT_ACTION' | translate}}">
                            <i class="fa fa-15x fa-upload import-icons" aria-hidden="true" (click)="exportSelectedHistory(importhistorylist)"></i>
                        </a>
                        <a class="not-active" *ngIf="exportstatus == 'true' && importhistorylist.status == 'In Progress'" data-toggle="tooltip" data-placement="top"
                            title="{{'COMMON_BUTTON_TOOLTIPS.TOOLTIP_EXPORT_ACTION' | translate}}">
                            <i class="fa fa-15x fa-upload import-icons" aria-hidden="true"></i>
                        </a>
                    </ng-template>
                </p-column>
            </p-dataTable>
        </div>
    </div>
</div>

<app-importhistorylisting-popup (updatedList)="emitChanges($event)"></app-importhistorylisting-popup>
<!-- Advanced popup modal code -->
<div bsModal #mgModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" (keyup.Esc)="hideAdvanceModal()" tabindex="-1"
    role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="hideAdvanceModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="row">
                    <div class="col-md-12">
                        <img src="assets/img/mapapp-logo.png" height="30" class="pull-left">
                        <img src="{{apiEndPoint}}/{{enterpriseIconFilePath}}" onError="this.onerror=null;this.src='assets/img/logo.png';" height="30"
                            class="pull-right">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h5 class="popupsection-title">{{'COMMON_PAGE_TITLES.ADVANCED_SEARCH' | translate}}</h5>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-md-5 form-control-label">
                        <label for="">{{'COMMON_FIELDS.ENTERPRISE' | translate}}</label>
                    </div>
                    <div class=" col-md-7">
                        <input type="text" *ngIf="[userrole] == 'Super Admin' || [userrole] == 'Sub Admin'|| [userrole] == 'Tech Help'" class="text-capitalize form-control input-sm"
                            id="enterpriseName" name="enterpriseName" [(ngModel)]="enterpriseName" onkeypress="return event.charCode != 34">
                        <input type="text" *ngIf="[userrole] != 'Super Admin' && [userrole] != 'Sub Admin'&& [userrole] != 'Tech Help'" class="text-capitalize form-control input-sm"
                            id="enterpriseName" name="enterpriseName" [(ngModel)]="enterpriseNames" disabled>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-5 form-control-label">
                        <label>{{'ENTERPRISE_STATIC_CONTENT.PAGE_NAME' | translate}}</label>
                    </div>
                    <div class=" col-md-7">
                        <input type="text" class="text-capitalize form-control input-sm" id="pageName" name="pageName" onkeypress="return event.charCode != 34"
                            [(ngModel)]="pageName" value="">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-5 form-control-label">
                        <label>{{'IMPORT_HISTORY.IMPORT_FILE_NAME' | translate}}</label>
                    </div>
                    <div class=" col-md-7">
                        <input type="text" class="text-capitalize form-control input-sm" id="name" name="name" onkeypress="return event.charCode != 34"
                            [(ngModel)]="name" value="">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-5 form-control-label">
                        <label>{{'IMPORT_HISTORY.IMPORT_FILE_PATH' | translate}}</label>
                    </div>
                    <div class=" col-md-7">
                        <input type="text" class="form-control input-sm" id="filePath" name="filePath" onkeypress="return event.charCode != 34" [(ngModel)]="filePath"
                            value="">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-5 form-control-label">
                        <label for="">{{'COMMON_FIELDS.DATE_FROM' | translate}}</label>
                    </div>
                    <div class=" col-md-7">
                        <p-calendar readonlyInput="readonlyInput" [(ngModel)]="fromDate" inputStyleClass="timezone-calendar calendar" dateFormat="yy-mm-dd"
                            [showIcon]="true" [showTime]="true"></p-calendar>
                        <select id="Timezone" (change)="getTimezones($event.target.value);" class="form-control input-sm duration-list">
                            <option *ngFor="let clang of timeZones; let i='index'" [selected]="advuserpreferedtimezone == clang.lookupName" value="{{clang.lookupName}}${{clang.description}}"
                                id="clang{{i}}">{{clang.lookupName}} - {{clang.description}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-5 form-control-label">
                        <label for="">{{'COMMON_FIELDS.DATE_TO' | translate}}</label>
                    </div>
                    <div class=" col-md-7">
                        <p-calendar readonlyInput="readonlyInput" [(ngModel)]="toDate" inputStyleClass="timezone-calendar calendar" dateFormat="yy-mm-dd"
                            [showIcon]="true" [showTime]="true"></p-calendar>
                        <select id="Timezone" (change)="getTimezones($event.target.value);" class="form-control input-sm duration-list">
                            <option *ngFor="let clang of timeZones; let i='index'" [selected]="advuserpreferedtimezone == clang.lookupName" value="{{clang.lookupName}}${{clang.description}}"
                                id="clang{{i}}">{{clang.lookupName}} - {{clang.description}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- <div id="login_popup_error" class="text-danger text-center"> {{error | translate}}</div> -->
            <div class="modal-footer">
                <div class="col-md-12 p0">
                    <div class="pull-left">
                        <app-powered></app-powered>
                    </div>
                    <div class="pull-right text-right">
                        <button type="button" class="btn btn-primary" (click)="AdvanceSearch()">{{'COMMON_BUTTONS.BUTTON_SUBMIT' | translate}}</button>
                        <button type="button" class="btn btn-primary" (click)="clear()">{{'COMMON_BUTTONS.BUTTON_CLEAR' | translate}}</button>
                        <button type="button" class="btn btn-primary" (click)="hideAdvanceModal()">{{'COMMON_BUTTONS.BUTTON_CLOSE' | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>