<!-- 
  Application Name = Indoor Navigation
Version = 1.0
Release Date = September 06, 2017
Copyright = ©2017 SRISYS Inc
Developed by = Srisys Inc, 7908 Cincinnati Dayton Rd, Suite C, West Chester,
OH 45069 USA web: www.srisys.com
-->
<div bsModal #childModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" (keyup.Esc)="hideChildModal()" tabindex="-1"
  role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <!-- Header-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="hideChildModal()" aria-label="Close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="row">
          <div class="col-md-12">
            <app-logoheader></app-logoheader>
            <img src="{{apiEndPoint}}/{{enterpriseIconFilePath}}" onError="this.onerror=null;this.src='assets/img/logo.png';" height="30"
              class="pull-right">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h5 class="popupsection-title">{{ pagename | translate}}</h5>
          </div>
        </div>
      </div>

      <!-- custom styles -->
      <style>
        [class^="flaticon-"]:before,
        [class*=" flaticon-"]:before {
          font-size: 20px;
        }

      </style>

      <!-- body -->
      <div class="modal-body">
        <div *ngIf="updateaction =='CREATE'">
          <div class="row">
            <div class="col-md-4 form-group">
                    <label><span class="text-danger">*</span>{{'COMMON_FIELDS.ENTERPRISE' | translate}}</label>
                    <select *ngIf="enterprisesSize === false" id="userType" (change)="getEnterpriseResources($event.target.value); clearmessage()"
                    name="select" class="form-control input-sm" size="1">
                    <option value="">{{'COMMON_FIELDS.SELECT_BOX_DEFAULT' | translate}}</option>
                    <option *ngFor="let clang of enterprisesNames; let i='index'" value="{{clang._id+'~'+clang.enterpriseName+'~'+clang.enterpriseIconFilePath+'~'+clang.enterpriseIcon}}"
                        id="clang{{i}}">{{clang.enterpriseName}}</option>
                    </select>
                    <input  *ngIf="enterprisesSize === true"  type="text" class="form-control input-sm " id="{{enterprisesName}}"
                    name="enterpriseId" [(ngModel)]="enterprisesName" disabled>
            </div>
             <div class="col-md-4 form-group">
              <label>
                <span class="text-danger">*</span>{{'ENTERPRISE_SETTINGS.AVAILABLE_FLEET_COLOR' | translate}}{{fleetCommonName}}{{'ENTERPRISE_SETTINGS.COLOR' | translate}}</label>
              <select id="" class="form-control input-sm" (click)="clearmessage(); availablecolor($event.target.value)">
                <option value=''>{{'COMMON_FIELDS.SELECT_BOX_DEFAULT' | translate}}</option>
                <option *ngFor="let clang of colorlist; let i='index'" value="{{clang.lookupName}}${{clang.description}}"  [selected]="availablefleetcolor == clang.lookupName">{{clang.lookupName}}</option>
              </select>
            </div>
            <div class="col-md-4 form-group">
              <label>
                <span class="text-danger">*</span>{{'ENTERPRISE_SETTINGS.CHECKIN_FLEET_COLOR' | translate}}{{fleetCommonName}}{{'ENTERPRISE_SETTINGS.COLOR' | translate}}</label>
              <select id="" class="form-control input-sm" (click)="clearmessage(); checkincolor($event.target.value)">
                <option value=''>{{'COMMON_FIELDS.SELECT_BOX_DEFAULT' | translate}}</option>
                <option *ngFor="let clang of colorlist; let i='index'" value="{{clang.lookupName}}${{clang.description}}" [selected]="checkinfleetcolor == clang.lookupName">{{clang.lookupName}}</option>
              </select>
            </div>
           <div class="col-md-4 form-group">
              <label>
                <span class="text-danger">*</span>{{'ENTERPRISE_SETTINGS.RESERVED_FLEET_COLOR' | translate}}{{fleetCommonName}}{{'ENTERPRISE_SETTINGS.COLOR' | translate}}</label>
                <select id="" class="form-control input-sm" (click)="clearmessage(); reservedcolor($event.target.value)">
                <option value=''>{{'COMMON_FIELDS.SELECT_BOX_DEFAULT' | translate}}</option>
                <option *ngFor="let clang of colorlist; let i='index'" value="{{clang.lookupName}}${{clang.description}}" [selected]="reservedfleetcolor == clang.lookupName">{{clang.lookupName}}</option>
              </select>
            </div>
              <div class="col-md-4 form-group">
              <label>
                <span class="text-danger">*</span>{{'ENTERPRISE_SETTINGS.NONTRANSACTABLE_FLEET_COLOR' | translate}}{{fleetCommonName}}{{'ENTERPRISE_SETTINGS.COLOR' | translate}}</label>
               <select id="" class="form-control input-sm" (click)="clearmessage(); transactablecolor($event.target.value)">
                <option value=''>{{'COMMON_FIELDS.SELECT_BOX_DEFAULT' | translate}}</option>
                <option *ngFor="let clang of colorlist; let i='index'" value="{{clang.lookupName}}${{clang.description}}" [selected]="fleettransactablecolor == clang.lookupName">{{clang.lookupName}}</option>
              </select>
            </div>



          </div>
          <p-accordion>
            <p-accordionTab header="{{fleetCommonName}}{{'COMMON_PAGE_TITLES.LIST_FLEET_TYPES' | translate}}">
          <div class="row">
            <div class="col-md-3 form-group">
              <label>
                <span class="text-danger">*</span>{{fleetCommonName}}{{'FLEET_TYPES.FLEET_TYPE' | translate}}</label>
            </div>
            <div class="col-md-1 form-group">
              <label>{{'FLEET_TYPES.FLEET_TYPE_SPECIAL' | translate}}</label>
            </div>
            <div class="col-md-2 form-group">
                    <label>{{'FLEET_TYPES.IS_TRANSCTABLE' | translate}}</label>
            </div>
            <div class="col-md-2 form-group">
                    <label>{{'FLEET_TYPES.IS_EVENT_ENABLE' | translate}}</label>
            </div>
            <!-- <div class="col-md-2 form-group">
              <label>
                <span class="text-danger">*</span>{{'FLEET_TYPES.DISPLAY_COLOR' | translate}}</label>
            </div> -->
            <div class="col-md-2 form-group">
              <label>
               {{'FLEET_TYPES.DISPLAY_ICON' | translate}}</label>
            </div>
            <div class="col-md-1 form-group">
              <label class="form-control-label">{{'ENTERPRISE_STATIC_CONTENT.MENU_IMAGE' | translate}}</label>
            </div>
            <div class="col-md-1 form-group">
              <label>Actions</label>
            </div>
          </div>
          <div *ngFor="let ftar of fleetTypeArray; let i='index'">
            <div class="row" id="test{{i}}">
              <div class="col-md-3 form-group">
                <input type="text" class="form-control input-sm" value="{{fleetTypeValue}}" (keypress)="clearmessage()" id="fleetTypeId{{i}}"
                  name="fleetTypeName">
              </div>
              <div class="col-md-1 form-group">
                <input id="special{{i}}" name="specialcheck" type="checkbox" (change)="disablingfield(i, $event.target.checked)" ng-reflect-name="special" class="regular-checkbox big-checkbox">
                <label for="special{{i}}"></label>
              </div>
              <div class="col-md-2 form-group">
                    <input id="istransctable{{i}}" name="istransctablecheck" type="checkbox" (change)="disablingEnablefield(i, $event.target.checked)" ng-reflect-name="istransctable" class="regular-checkbox big-checkbox"
                        checked>
                        <label for="istransctable{{i}}"></label>
                </div>
              <div class="col-md-2 form-group">
                    <input id="reservable{{i}}" name="reservablecheck" type="checkbox" ng-reflect-name="reservable" class="regular-checkbox big-checkbox"
                        checked>
                        <label for="reservable{{i}}"></label>
                </div>
              <!-- <div class="col-md-2 form-group">
                <select class="form-control input-sm" id="colorId{{i}}" (change)="clearmessage()" name="colorName">
                  <option value=''>{{'COMMON_FIELDS.SELECT_BOX_DEFAULT' | translate}}</option>
                  <option *ngFor="let clang of colorlist; let i='index'" value="{{clang.lookupName}}" id="clang{{i}}">{{clang.lookupName}}</option>
                </select>
              </div> -->
              <div class="col-md-2 form-group">
                <select id="displayIconId{{i}}" name="displayIconName" class="form-control input-sm" (change)="universalUploaded($event.target.value);clearmessage()">
                  <option value=''>{{'COMMON_FIELDS.SELECT_BOX_DEFAULT' | translate}}</option>
                  <option *ngFor="let clang of universalimgs; let j='index'" value="{{clang.description}}${{clang.lookupName}}${{i}}" [selected]="universalimgname == clang.lookupName"
                    id="clang{{j}}">{{clang.lookupName}}</option>
                </select>
              </div>
              <div class="col-md-1 form-group">
                <div>
                  <a data-toggle="tooltip" data-placement="top" >
                    <span id="imageIcon{{i}}"></span>
                  </a>
                </div>
              </div>
              <div class="col-md-1 form-group">
                <div class="row">
                  <br>
                  <!-- <span class="fa fa-plus col-md-6 input-sm" (click)="addrow()"></span> -->
                  <span class="fa fa-minus col-md-6 input-sm" (click)="removerow(i)"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-1 form-group">
                <div class="row">
                  <br>
                  <button class="btn btn-primary" (click)="addrow()">{{'FLEET_TYPES.ADD' | translate}}</button>
                  <!-- <span class="fa fa-plus col-md-6 input-sm" (click)="addrow()"></span> -->
                </div>
              </div>
            </p-accordionTab>
          </p-accordion>
        </div>
        <div *ngIf="updateaction =='EDIT'">
          <div class="row">
                <div class="col-md-4 form-group">
                  <label>
                    <span class="text-danger">*</span>{{'COMMON_FIELDS.ENTERPRISE' | translate}}</label>
                  <input class="form-control input-sm" id="" name="" [(ngModel)]="enterprisesName" disabled>
             </div>
             <div class="col-md-4 form-group">
                    <label>
                      {{'FLEET_TYPES.FLEET_TYPE_COUNT' | translate}}</label>
                    <input class="form-control input-sm" id="" name="" value="{{selectedObj.fleetTypeCount}}" disabled>
              </div>
              <div class="col-md-4 form-group">
                    <label>
                      {{'FLEET_TYPES.SPECIAL_TYPE_COUNT' | translate}}</label>
                    <input class="form-control input-sm" id="" name="" value="{{selectedObj.specialCount}}" disabled>
              </div>
              <div class="col-md-4 form-group">
                    <label>
                      {{'FLEET_TYPES.IS_TRANSCTABLE_COUNT' | translate}}</label>
                    <input class="form-control input-sm" id="" name="" value="{{selectedObj.transactableCount}}" disabled>
              </div>
              <div class="col-md-4 form-group">
                    <label>
                      {{'FLEET_TYPES.IS_EVENT_ENABLE_COUNT' | translate}}</label>
                    <input class="form-control input-sm" id="" name="" value="{{selectedObj.eventsEnabledCount}}" disabled>
              </div>
            <div class="col-md-4 form-group">
                <label>
                    <span class="text-danger">*</span>{{'ENTERPRISE_SETTINGS.AVAILABLE_FLEET_COLOR' | translate}}{{fleetCommonName}}{{'ENTERPRISE_SETTINGS.COLOR' | translate}}</label>
               <select id="" class="form-control input-sm" (click)="availablecolor($event.target.value)">
                    <option *ngFor="let clang of colorlist; let i='index'" value="{{clang.lookupName}}${{clang.description}}" [selected]="availablefleetcolor == clang.lookupName" id="profilePage_timezone_select_option_{{i}}">{{clang.lookupName}}</option>
                </select>
                </div>
                 <div class="col-md-4 form-group">
                        <label>
                            <span class="text-danger">*</span>{{'ENTERPRISE_SETTINGS.CHECKIN_FLEET_COLOR' | translate}}{{fleetCommonName}}{{'ENTERPRISE_SETTINGS.COLOR' | translate}}</label>
                       <select id="" class="form-control input-sm" (click)="clearmessage(); checkincolor($event.target.value)">
                            <option *ngFor="let clang of colorlist; let i='index'" value="{{clang.lookupName}}${{clang.description}}" [selected]="checkinfleetcolor == clang.lookupName" id="profilePage_timezone_select_option_{{i}}">{{clang.lookupName}}</option>
                    </select>
                    </div>
        <div class="col-md-4 form-group">
                <label>
                    <span class="text-danger">*</span>{{'ENTERPRISE_SETTINGS.RESERVED_FLEET_COLOR' | translate}}{{fleetCommonName}}{{'ENTERPRISE_SETTINGS.COLOR' | translate}}</label>
               <select id="" class="form-control input-sm" (click)="clearmessage(); reservedcolor($event.target.value)">
                    <option *ngFor="let clang of colorlist; let i='index'" value="{{clang.lookupName}}${{clang.description}}" [selected]="reservedfleetcolor == clang.lookupName" id="profilePage_timezone_select_option_{{i}}">{{clang.lookupName}}</option>
                </select>
                </div>
                
             <div class="col-md-4 form-group">
                <label>
                    <span class="text-danger">*</span>{{'ENTERPRISE_SETTINGS.NONTRANSACTABLE_FLEET_COLOR' | translate}}{{fleetCommonName}}{{'ENTERPRISE_SETTINGS.COLOR' | translate}}</label>
                <select id="" class="form-control input-sm" (click)="clearmessage(); transactablecolor($event.target.value)">
                    <option *ngFor="let clang of colorlist; let i='index'" value="{{clang.lookupName}}${{clang.description}}" [selected]="fleettransactablecolor == clang.lookupName" id="profilePage_timezone_select_option_{{i}}">{{clang.lookupName}}</option>
                </select>
                </div>
          </div>
          <p-accordion>
            <p-accordionTab header="{{fleetCommonName}}{{'COMMON_PAGE_TITLES.LIST_FLEET_TYPES' | translate}}"> 
          <div class="row">
            <div class="col-md-3 form-group">
             <label>
                <span class="text-danger">*</span>{{fleetCommonName}}{{'FLEET_TYPES.FLEET_TYPE' | translate}}</label>
            </div>
            <div class="col-md-1 form-group">
              <label>{{'FLEET_TYPES.FLEET_TYPE_SPECIAL' | translate}}</label>
            </div>
            <div class="col-md-2 form-group">
                    <label>{{'FLEET_TYPES.IS_TRANSCTABLE' | translate}}</label>
            </div>
            <div class="col-md-2 form-group">
                    <label>{{'FLEET_TYPES.IS_EVENT_ENABLE' | translate}}</label>
            </div>
            <!-- <div class="col-md-3 form-group">
              <label>
                <span class="text-danger">*</span>{{'FLEET_TYPES.DISPLAY_COLOR' | translate}}</label>
            </div> -->
            <div class="col-md-2 form-group">
              <label>
                {{'FLEET_TYPES.DISPLAY_ICON' | translate}}</label>
            </div>
            <div class="col-md-1 form-group">
              <label class="form-control-label">{{'ENTERPRISE_STATIC_CONTENT.MENU_IMAGE' | translate}}</label>
            </div>
            <div class="col-md-1 form-group">
              <label>Actions</label>
            </div>
          </div>
          <div *ngFor="let editftar of editfleetTypes; let i='index'">
            <div class="row"  *ngIf="editfleetTypes.length !== 0" >
            <div *ngIf="editftar.used === true" class="col-md-3 form-group">
                <input type="text" class="form-control input-sm" value="{{editftar.fleetTypeName}}" (keypress)="clearmessage()" id="fleetTypeIdExists{{i}}"
                    name="editExistsFleetTypeName" disabled>
            </div>
            <div *ngIf="editftar.used === false" class="col-md-3 form-group">
                <input type="text" class="form-control input-sm" value="{{editftar.fleetTypeName}}" (keypress)="clearmessage()" id="fleetTypeIdExists{{i}}"
                    name="editExistsFleetTypeName">
            </div>
            <div *ngIf="editftar.used === false" class="col-md-1 form-group">
                <input id="special{{i}}" name="editExistsspecialcheckName" type="checkbox" (change)="disablingeditExistfield(i, $event.target.checked)" class="regular-checkbox big-checkbox ng-untouched ng-pristine ng-valid" [(ngModel)]="editftar.isSpecial">
                    <label for="special{{i}}"></label>
            </div>
            <div *ngIf="editftar.used === true" class="col-md-1 form-group">
                <input id="special{{i}}" name="editExistsspecialcheckName" type="checkbox" class="regular-checkbox big-checkbox ng-untouched ng-pristine ng-valid" [(ngModel)]="editftar.isSpecial" disabled>
                    <label for="special{{i}}"></label>
            </div>
            <div *ngIf="editftar.used === true" class="col-md-2 form-group">
                    <input id="transctable{{i}}" name="editExisttransctablecheck" type="checkbox" class="regular-checkbox big-checkbox" [(ngModel)]="editftar.isTransactable"
                        disabled>
                        <label for="transctable{{i}}"></label>
            </div>
            <div *ngIf="editftar.used === false" class="col-md-2 form-group">
                <input id="transctable{{i}}" name="editExisttransctablecheck" (change)="disablingeditExistEnablefield(i, $event.target.checked)" type="checkbox" class="regular-checkbox big-checkbox" [(ngModel)]="editftar.isTransactable">
                <label for="transctable{{i}}"></label>
            </div>
            <div *ngIf="editftar.used === true" class="col-md-2 form-group">
                    <input id="reservable{{i}}" name="editExistsreservablecheckName" type="checkbox" class="regular-checkbox big-checkbox" [(ngModel)]="editftar.isEventsEnabled"
                        disabled>
                        <label for="reservable{{i}}"></label>
            </div>
            <div *ngIf="editftar.used === false" class="col-md-2 form-group">
                <input id="reservable{{i}}" name="editExistsreservablecheckName" (change)="disablingeditExistEventfield(i, $event.target.checked)" type="checkbox" class="regular-checkbox big-checkbox" [(ngModel)]="editftar.isEventsEnabled">
                <label for="reservable{{i}}"></label>
            </div>
           <!-- <div class="col-md-3 form-group">
              <input type="text" class="form-control input-sm" value="{{editftar.fleetTypeColor}}" (change)="clearmessage()" id="colorId{{i}}"
                disabled>
            </div> -->
            <div class="col-md-2 form-group">
                    <select class="form-control input-sm" id="editIconId{{i}}"  (change)="iconChange($event.target.value);clearmessage()" name="editExistsDisplayIconName">
                        <option value=''>{{'COMMON_FIELDS.SELECT_BOX_DEFAULT' | translate}}</option>
                        <option *ngFor="let clang of universalimgs; let j='index'" [selected]="editftar.fleetTypeIconName == clang.lookupName" value="{{clang.description}}${{clang.lookupName}}${{i}}" id="clang{{j}}">{{clang.lookupName}}</option>
                    </select>
                </div>
                <div class="col-md-1 form-group">
                    <div>
                        <a data-toggle="tooltip" data-placement="top">
                        <span id="imageIcon1{{i}}" class="{{editftar.fleetTypeIcon}}"></span>
                    </a>
                </div>
            </div>
            <div class="col-md-1 form-group">
              <div class="row">
                <br>
                <!-- <span class="fa fa-plus col-md-6 input-sm" (click)="editaddrow()"></span> -->
                <a *ngIf="editftar.used === true" class="not-active" data-toggle="tooltip" data-placement="top" title="{{'COMMON_BUTTON_TOOLTIPS.TOOLTIP_DELETE_ACTION' | translate}}">
                  <i class="fa fa-minus col-md-6 input-sm" aria-hidden="true"></i>
              </a>
              <a *ngIf="editftar.used === false" data-toggle="tooltip" data-placement="top" title="{{'COMMON_BUTTON_TOOLTIPS.TOOLTIP_DELETE_ACTION' | translate}}">
                  <i class="fa fa-minus col-md-6 input-sm" aria-hidden="true" (click)="removeExistrow(i)"></i>
              </a>
              </div>
            </div>
          </div>
          </div>
          <div *ngFor="let ftar of fleetTypeArray; let i='index'">
            <div class="row" id="testedit{{i}}">
            <!-- <div class="row" *ngIf="ftar === true"> -->
              <div class="col-md-3 form-group">
                <input type="text" class="form-control input-sm" value="{{fleetTypeValue}}" (keypress)="clearmessage()" id="editFleetTypeId{{i}}"
                  name="editFleetTypeName">
              </div>
              <div class="col-md-1 form-group">
                <input id="editspecial{{i}}" name="editspecialcheck" (change)="disablingEditfield(i, $event.target.checked)" type="checkbox" ng-reflect-name="special" class="regular-checkbox big-checkbox">
                <label for="editspecial{{i}}"></label>
              </div>
              <div class="col-md-2 form-group">
                    <input id="editransctable{{i}}" name="editransctablecheck" (change)="disablingEditEnablefield(i, $event.target.checked)" type="checkbox" ng-reflect-name="transctable" class="regular-checkbox big-checkbox"
                        checked>
                        <label for="editransctable{{i}}"></label>
              </div>
              <div class="col-md-2 form-group">
                    <input id="editreservable{{i}}" name="editreservablecheck" type="checkbox" ng-reflect-name="reservable" class="regular-checkbox big-checkbox"
                        checked>
                        <label for="editreservable{{i}}"></label>
              </div>
              <!-- <div class="col-md-3 form-group">
                <select class="form-control input-sm" id="editColorId{{i}}" (change)="clearmessage()" name="editColorName">
                  <option value=''>{{'COMMON_FIELDS.SELECT_BOX_DEFAULT' | translate}}</option>
                  <option *ngFor="let clang of colorlist; let i='index'" value="{{clang.lookupName}}" id="clang{{i}}">{{clang.lookupName}}</option>
                </select>
              </div> -->
              <div class="col-md-2 form-group">
                <select id="editDisplayIconId{{i}}" name="editDisplayIconName" class="form-control input-sm" (change)="universalUploaded($event.target.value);clearmessage()">
                  <option value=''>{{'COMMON_FIELDS.SELECT_BOX_DEFAULT' | translate}}</option>
                  <option *ngFor="let clang of universalimgs; let j='index'" value="{{clang.description}}${{clang.lookupName}}${{i}}" [selected]="universalimgname == clang.lookupName"
                    id="clang{{j}}">{{clang.lookupName}}</option>
                </select>
              </div>
              <div class="col-md-1 form-group">
                <div>
                  <a data-toggle="tooltip" data-placement="top" >
                    <span id="imageIcon{{i}}"></span>
                  </a>
                </div>
              </div>
              <div class="col-md-1 form-group">
                <div class="row">
                  <br>
                  <!-- <span class="fa fa-plus col-md-6 input-sm" (click)="editaddrow()"></span> -->
                  <span class="fa fa-minus col-md-6 input-sm" (click)="editremoverow(i)"></span>
                </div>
              </div>
            <!-- </div> -->
            </div>
          </div>
          <div class="col-md-1 form-group">
            <div class="row">
                <br>
                <button class="btn btn-primary" (click)="editaddrow()">{{'FLEET_TYPES.ADD' | translate}}</button>
                <!-- <span class="fa fa-plus col-md-6 input-sm" (click)="addrow()"></span> -->
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>
      <p-accordion>
        <p-accordionTab header="{{'COMMON_RECORD_HISTORY_BLOCK.RECORD_HISTORY' | translate}}">
              <div class="row">
                  <div class="col-md-6 form-group">
                      <label>{{'COMMON_RECORD_HISTORY_BLOCK.CREATED_BY' | translate}}</label>
                      <input type="text" class="form-control input-sm" id="" name="CREATEDBY" [(ngModel)]="selectedObj.createdBy" disabled>
                  </div>
                  <div class="col-md-6 form-group">
                      <label>{{'COMMON_RECORD_HISTORY_BLOCK.CREATED_DATE' | translate}}</label>
                      <input type="text" class="form-control input-sm" id="" name="CREATION_DATE" [(ngModel)]="createAt" disabled>
                  </div>
                  <div class="col-md-6 form-group">
                      <label>{{'COMMON_RECORD_HISTORY_BLOCK.LAST_UPDATED_BY' | translate}}</label>
                      <input type="text" class="form-control input-sm" id="" name="LAST_UPDATED_BY" [(ngModel)]="selectedObj.updatedBy" disabled>
                  </div>
                  <div class="col-md-6 form-group">
                      <label>{{'COMMON_RECORD_HISTORY_BLOCK.LAST_UPDATED_DATE' | translate}}</label>
                      <input type="text" class="form-control input-sm" id="" name="LAST_UPDATED_DATE" [(ngModel)]="updateAt" disabled>
                  </div>
              </div>
          </p-accordionTab>
      </p-accordion>
        </div>
        <div *ngIf="updateaction =='VIEW' || updateaction =='DELETE'">
          <div class="row">
            <div class="col-md-4 form-group">
                  <label>
                    {{'COMMON_FIELDS.ENTERPRISE' | translate}}</label>
                  <input class="form-control input-sm" id="" name="" value="{{selectedObj.enterprise.enterpriseName}}" disabled>
            </div>
            <div class="col-md-4 form-group">
                    <label>
                      {{'FLEET_TYPES.FLEET_TYPE_COUNT' | translate}}</label>
                    <input class="form-control input-sm" id="" name="" value="{{selectedObj.fleetTypeCount}}" disabled>
              </div>
              <div class="col-md-4 form-group">
                    <label>
                      {{'FLEET_TYPES.SPECIAL_TYPE_COUNT' | translate}}</label>
                    <input class="form-control input-sm" id="" name="" value="{{selectedObj.specialCount}}" disabled>
              </div>
              <div class="col-md-4 form-group">
                    <label>
                      {{'FLEET_TYPES.IS_TRANSCTABLE_COUNT' | translate}}</label>
                    <input class="form-control input-sm" id="" name="" value="{{selectedObj.transactableCount}}" disabled>
              </div>
              <div class="col-md-4 form-group">
                    <label>
                      {{'FLEET_TYPES.IS_EVENT_ENABLE_COUNT' | translate}}</label>
                    <input class="form-control input-sm" id="" name="" value="{{selectedObj.eventsEnabledCount}}" disabled>
              </div>
            <div class="col-md-4 form-group">
            <label>{{'ENTERPRISE_SETTINGS.AVAILABLE_FLEET_COLOR' | translate}}{{fleetCommonName}}{{'ENTERPRISE_SETTINGS.COLOR'
                | translate}}</label>
            <input type="text" class="form-control input-sm" value="{{availablefleetcolor}}" disabled>
            </div>
            <div class="col-md-4 form-group">
                    <label>{{'ENTERPRISE_SETTINGS.CHECKIN_FLEET_COLOR' | translate}}{{fleetCommonName}}{{'ENTERPRISE_SETTINGS.COLOR'
                | translate}}</label>
            <input type="text" class="form-control input-sm" value="{{checkinfleetcolor}}" disabled>
            </div>
            <div class="col-md-4 form-group">
            <label>
                {{'ENTERPRISE_SETTINGS.RESERVED_FLEET_COLOR' | translate}}{{fleetCommonName}}{{'ENTERPRISE_SETTINGS.COLOR' | translate}}</label>
            <input type="text" class="form-control input-sm" value="{{reservedfleetcolor}}" disabled>
            </div>
            <div class="col-md-4 form-group">
            <label>{{'ENTERPRISE_SETTINGS.NONTRANSACTABLE_FLEET_COLOR' | translate}}{{fleetCommonName}}{{'ENTERPRISE_SETTINGS.COLOR'
                | translate}}</label>
            <input type="text" class="form-control input-sm" value="{{fleettransactablecolor}}" disabled>
            </div>
          </div>
          <!-- <div class="row">
                <div class="col-md-12">
                  <h5 class="popupsection-title">{{fleetCommonName}}{{'COMMON_PAGE_TITLES.LIST_FLEET_TYPES' | translate}}</h5>
                </div>
          </div> -->
          <p-accordion>
            <p-accordionTab header="{{fleetCommonName}}{{'COMMON_PAGE_TITLES.LIST_FLEET_TYPES' | translate}}">  
          <div class="row">
            <div class="col-md-3 form-group">
              <label>
                {{fleetCommonName}}{{'FLEET_TYPES.FLEET_TYPE' | translate}}</label>
            </div>
            <div class="col-md-1 form-group">
              <label>{{'FLEET_TYPES.FLEET_TYPE_SPECIAL' | translate}}</label>
            </div>
            <div class="col-md-2 form-group">
                    <label>{{'FLEET_TYPES.IS_TRANSCTABLE' | translate}}</label>
            </div>
            <div class="col-md-2 form-group">
                    <label>{{'FLEET_TYPES.IS_EVENT_ENABLE' | translate}}</label>
            </div>
            <!-- <div class="col-md-2 form-group">
              <label>
                {{'FLEET_TYPES.DISPLAY_COLOR' | translate}}</label>
            </div> -->
            <div class="col-md-2 form-group">
              <label>
                {{'FLEET_TYPES.DISPLAY_ICON' | translate}}</label>
            </div>
            <div class="col-md-1 form-group">
              <label class="form-control-label">{{'ENTERPRISE_STATIC_CONTENT.MENU_IMAGE' | translate}}</label>
            </div>
            <div class="col-md-1 form-group">
              <label>Actions</label>
            </div>
          </div>
          <div class="row" *ngFor="let ftar of viewfleetTypes; let i='index'">
            <div class="col-md-3 form-group">
              <input type="text" class="form-control input-sm" value="{{ftar.fleetTypeName}}" (change)="clearmessage()" id="fleetTypeId{{i}}"
                name="fleetTypeName" disabled>
            </div>
            <div class="col-md-1 form-group">
              <input id="special{{i}}" name="specialcheck" type="checkbox" class="regular-checkbox big-checkbox" [(ngModel)]="ftar.isSpecial"
                disabled>
              <label for="special{{i}}"></label>
            </div>
            <div class="col-md-2 form-group">
                    <input id="reservable{{i}}" name="reservablecheck" type="checkbox" class="regular-checkbox big-checkbox" [(ngModel)]="ftar.isTransactable"
                        disabled>
                        <label for="reservable{{i}}"></label>
            </div>
            <div class="col-md-2 form-group">
                    <input id="transtable{{i}}" name="transtablecheck" type="checkbox" class="regular-checkbox big-checkbox" [(ngModel)]="ftar.isEventsEnabled"
                        disabled>
                        <label for="reservable{{i}}"></label>
            </div>
            <!-- <div class="col-md-2 form-group">
              <input type="text" class="form-control input-sm" value="{{ftar.fleetTypeColor}}" (change)="clearmessage()" id="colorId{{i}}"
                name="colorName" disabled>
            </div> -->
            <div class="col-md-2 form-group">
              <input type="text" class="form-control input-sm" value="{{ftar.fleetTypeIconName}}" (change)="clearmessage()" id="displayIconId{{i}}"
                name="displayIconName" disabled>
            </div>
            <div class="col-md-1 form-group">
              <div>
                <a data-toggle="tooltip" data-placement="top" >
                  <span id="imageIcon{{i}}" class="{{ftar.fleetTypeIcon}}"></span>
                </a>
              </div>
            </div>
            <div class="col-md-1 form-group">
              <div class="row">
                <br>
                <!-- <span class="fa fa-plus col-md-6 input-sm"></span> -->
                <span class="fa fa-minus col-md-6 input-sm"></span>
              </div>
            </div>
          </div>
          <div class="col-md-1 form-group">
            <div class="row">
                <br>
                <button class="btn btn-primary" disabled>{{'FLEET_TYPES.ADD' | translate}}</button>
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>
        <p-accordion>
          <p-accordionTab header="{{'COMMON_RECORD_HISTORY_BLOCK.RECORD_HISTORY' | translate}}">
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label>{{'COMMON_RECORD_HISTORY_BLOCK.CREATED_BY' | translate}}</label>
                        <input type="text" class="form-control input-sm" id="" name="CREATEDBY" [(ngModel)]="selectedObj.createdBy" disabled>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>{{'COMMON_RECORD_HISTORY_BLOCK.CREATED_DATE' | translate}}</label>
                        <input type="text" class="form-control input-sm" id="" name="CREATION_DATE" [(ngModel)]="createAt" disabled>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>{{'COMMON_RECORD_HISTORY_BLOCK.LAST_UPDATED_BY' | translate}}</label>
                        <input type="text" class="form-control input-sm" id="" name="LAST_UPDATED_BY" [(ngModel)]="selectedObj.updatedBy" disabled>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>{{'COMMON_RECORD_HISTORY_BLOCK.LAST_UPDATED_DATE' | translate}}</label>
                        <input type="text" class="form-control input-sm" id="" name="LAST_UPDATED_DATE" [(ngModel)]="updateAt" disabled>
                    </div>
                </div>
            </p-accordionTab>
        </p-accordion>
        </div>
      </div>
      <div class="text-danger text-center">{{error | translate}}</div>
      <div class="text-danger text-center">{{errMsg1 | translate}} {{errMsg2}}</div>
      <div class="modal-footer">
        <div class="col-md-12 p0">
          <div class="pull-left">
            <app-powered></app-powered>
          </div>
          <div class="pull-right text-right" *ngIf="[updateaction] == 'CREATE'">
            <button class="btn btn-primary" (click)="createFleetType()">{{'COMMON_BUTTONS.BUTTON_SUBMIT' | translate}}</button>
            <button class="btn btn-primary" (click)="hideChildModal()">{{'COMMON_BUTTONS.BUTTON_CLOSE' | translate}}</button>
          </div>
          <div class="pull-right text-right" *ngIf="[updateaction] == 'EDIT'">
            <button class="btn btn-primary" (click)="updateFleetTypes()">{{'COMMON_BUTTONS.BUTTON_SUBMIT' | translate}}</button>
            <button class="btn btn-primary" (click)="hideChildModal()">{{'COMMON_BUTTONS.BUTTON_CLOSE' | translate}}</button>
          </div>
          <div class="pull-right text-right" *ngIf="[updateaction] == 'VIEW'">
            <button class="btn btn-primary" (click)="hideChildModal()">{{'COMMON_BUTTONS.BUTTON_CLOSE' | translate}}</button>
          </div>
          <div class="pull-right text-right" *ngIf="[updateaction] == 'DELETE'">
            <button class="btn btn-primary" (click)="deleteFleetType()">{{'COMMON_BUTTONS.BUTTON_DELETE' | translate}}</button>
            <button class="btn btn-primary" (click)="hideChildModal()">{{'COMMON_BUTTONS.BUTTON_CLOSE' | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
