<!--
Application Name = Indoor Navigation
Version = 1.0
Release Date = September 06, 2017
Copyright = ©2017 SRISYS Inc
Developed by = Srisys Inc, 7908 Cincinnati Dayton Rd, Suite C, West Chester,
OH 45069 USA web: www.srisys.com
 -->
<!-- View Fleet Popup Start -->
<div bsModal #childModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" (keyup.Esc)="hideChildModal()" tabindex="-1"
  role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- header starts -->
      <div class="modal-header">
        <button type="button" class="close" (click)="hideChildModal()" aria-label="Close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="row">
          <div class="col-md-12">
            <app-logoheader></app-logoheader>
            <img src="{{apiEndPoint}}/{{enterpriseIconFilePath}}" onError="this.onerror=null;this.src='assets/img/logo.png';" height="30"
              class="pull-right">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h5 class="popupsection-title">{{pagename | translate}}</h5>
          </div>
        </div>
      </div>
      <!-- header ends -->

      <!-- body starts -->
      <div class="modal-body">
        <!-- edit popup starts -->
        <div class="row" *ngIf="actionType=='Edit'">
          <div class="col-md-4 form-group">
            <div class="input-group">
              <span class="text-danger">*</span>
              <label>{{'COMMON_FIELDS.ENTERPRISE' | translate}}</label>
            </div>
            <select class="form-control input-sm" [(ngModel)]="enterpriseValue" id="header_country_select" (change)="getMapListDetails(this.enterpriseValue, this.pageValue);"
              name="enterprise">
              <option *ngFor="let enterprise of enterpriselist" value="{{enterprise._id}}">{{enterprise.enterpriseName}}</option>
            </select>
          </div>
          <div class="col-md-4 form-group">
            <div class="input-group">
              <span class="text-danger">*</span>
              <label>{{'COMMON_FIELDS.PAGE' | translate}}</label>
            </div>
            <select id="" class="form-control input-sm" [(ngModel)]="pageValue" (change)="getMapListDetails(this.enterpriseValue, this.pageValue);">
              <option *ngFor="let clang of pageList; let i='index'" value="{{clang.lookupName}}" id="profilePage_page_select_option_{{i}}">{{clang.lookupName}}</option>
            </select>
          </div>
          <div class="col-md-12">
            <p-pickList [source]="available" [target]="selected" sourceHeader="{{'DISPLAY_MAP_SETTINGS.AVAILABLE' | translate}}" targetHeader="{{'DISPLAY_MAP_SETTINGS.SELECTED' | translate}}"
              [responsive]="true" [showSourceControls]="false" [showTargetControls]="false">
              <ng-template let-car pTemplate="item">
                <div class="ui-helper-clearfix">
                  <div>{{car.labelToShowInD2MSettings}}</div>
                </div>
              </ng-template>
            </p-pickList>
          </div>
        </div>
        <p-accordion *ngIf="actionType=='Edit'">
          <p-accordionTab header="{{'COMMON_RECORD_HISTORY_BLOCK.RECORD_HISTORY' | translate}}">
            <div class="row">
              <div class="col-md-6 form-group">
                <label>{{'COMMON_RECORD_HISTORY_BLOCK.CREATED_BY' | translate}}</label>
                <input type="text" id="createdId" class="form-control input-sm" name="username" disabled value="{{createdBy}}">
              </div>
              <div class="col-md-6 form-group">
                <label>{{'COMMON_RECORD_HISTORY_BLOCK.CREATED_DATE' | translate}}</label>
                <input type="text" id="createdAtId" class="form-control input-sm" name="createdname" value="{{createdAt}}" disabled>
              </div>
              <div class="col-md-6 form-group">
                <label>{{'COMMON_RECORD_HISTORY_BLOCK.LAST_UPDATED_BY' | translate}}</label>
                <input type="text" id="updatedId" class="form-control input-sm" name="updatename" disabled value="{{updatedBy}}">
              </div>
              <div class="col-md-6 form-group">
                <label>{{'COMMON_RECORD_HISTORY_BLOCK.LAST_UPDATED_DATE' | translate}}</label>
                <input type="text" id="udatedAtId" class="form-control input-sm" name="updatedatname" value="{{updatedAt}}" disabled>
              </div>
            </div>
          </p-accordionTab>
        </p-accordion>
        <!-- edit popup ends -->

        <!-- view popup starts -->
        <div class="row" *ngIf="actionType=='View'">
          <div class="col-md-4 form-group">
            <div class="input-group">
              <label>{{'COMMON_FIELDS.ENTERPRISE' | translate}}</label>
            </div>
            <input type="text" class="form-control input-sm" id="enterpriseName" name="enterpriseName" value="{{enterpriseName}}" disabled>
          </div>
          <div class="col-md-4 form-group">
            <div class="input-group">
              <label>{{'COMMON_FIELDS.PAGE' | translate}}</label>
            </div>
            <input type="text" class="form-control input-sm" id="enterpriseName" name="enterpriseName" value="{{pageValue}}" disabled>
          </div>
          <div class="col-md-12 picklist-view">
            <p-pickList [source]="available" [target]="selected" sourceHeader="{{'DISPLAY_MAP_SETTINGS.AVAILABLE' | translate}}" targetHeader="{{'DISPLAY_MAP_SETTINGS.SELECTED' | translate}}"
              [responsive]="true" [showSourceControls]="false" [showTargetControls]="false">
              <ng-template let-car pTemplate="item">
                <div class="ui-helper-clearfix">
                  <div>{{car.labelToShowInD2MSettings}}</div>
                </div>
              </ng-template>
            </p-pickList>
          </div>
        </div>
        <p-accordion *ngIf="actionType=='View'">
          <p-accordionTab header="{{'COMMON_RECORD_HISTORY_BLOCK.RECORD_HISTORY' | translate}}">
            <div class="row">
              <div class="col-md-6 form-group">
                <label>{{'COMMON_RECORD_HISTORY_BLOCK.CREATED_BY' | translate}}</label>
                <input type="text" id="createdId" class="form-control input-sm" name="username" disabled value="{{createdBy}}">
              </div>
              <div class="col-md-6 form-group">
                <label>{{'COMMON_RECORD_HISTORY_BLOCK.CREATED_DATE' | translate}}</label>
                <input type="text" id="createdAtId" class="form-control input-sm" name="createdname" value="{{createdAt}}" disabled>
              </div>
              <div class="col-md-6 form-group">
                <label>{{'COMMON_RECORD_HISTORY_BLOCK.LAST_UPDATED_BY' | translate}}</label>
                <input type="text" id="updatedId" class="form-control input-sm" name="updatename" disabled value="{{updatedBy}}">
              </div>
              <div class="col-md-6 form-group">
                <label>{{'COMMON_RECORD_HISTORY_BLOCK.LAST_UPDATED_DATE' | translate}}</label>
                <input type="text" id="udatedAtId" class="form-control input-sm" name="updatedatname" value="{{updatedAt}}" disabled>
              </div>
            </div>
          </p-accordionTab>
        </p-accordion>
        <!-- view popup ends -->
      </div>
      <!-- body ends -->

      <!-- error message -->
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="text-danger">{{error | translate}}</div>
        </div>
      </div>

      <!-- footer starts -->
      <div class="modal-footer">
        <div class="col-md-12 p0 fleetft">
          <div class="pull-left">
            <app-powered></app-powered>
          </div>
          <div class="pull-right text-right" *ngIf="actionType=='Edit'">
            <button class="btn btn-primary" (click)="updateDistomapSettings()">{{'COMMON_BUTTONS.BUTTON_SUBMIT' | translate}}</button>
            <button class="btn btn-primary btn-sm" (click)="hideChildModal()">{{'COMMON_BUTTONS.BUTTON_CLOSE' | translate}}</button>
          </div>
          <div class="pull-right text-right" *ngIf="actionType=='View'">
            <button class="btn btn-primary btn-sm" (click)="hideChildModal()">{{'COMMON_BUTTONS.BUTTON_CLOSE' | translate}}</button>
          </div>
        </div>
      </div>
      <!-- footer ends -->
    </div>
  </div>
</div>
<p-overlayPanel #op1>
  <img src="/assets/img/static-img/a2.jpg" alt="Galleria 1" />
</p-overlayPanel>